body {
    background-color: #f9f6e7;
}

.display-4 {
    font-family: 'Roboto Mono', monospace;
    font-size: 70px;

    font-weight: 600;
}

header h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 70px;

    font-weight: 600;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    font-weight: 600;
}

a {
    color: #ff5252;
}

p {
    font-family: 'raleway', sans-serif;
}

.jumbotron {
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    background-color: #f9f6e7;
}

.jumbotron p {
    font-size: 25px;
}

#dropdown {
    background-color: #f9f6e7;
    padding: 0%;
    margin: 0%;
}

#dropdownMenuLink {
    background-color: #f9f6e7;
    font-family: 'Roboto Mono', monospace;
}

.dropdown-item {
    background-color: #f9f6e7;
    font-family: 'Roboto Mono', monospace;
}

dropdown-menu.show {
    background-color: #f9f6e7;
}

.site-footer {
    border-top: 1px solid #003049;
    padding: 20px, 0;
}

.navbar {
    font-family: 'raleway', sans-serif;

}

.theme-light:root {
    --background: #f9f6e7;
    --border: #d2c7ab;
    --text-primary: #010101;
    --text-secondary: #bdb296;
    --accent-primary: #ff5252;
    --accent-secondary: #99bbad;
    --ui-negative: #fff;
    --law-text: #fff;
    --law-background: #010101;
}