body {
    background-color: #FDF0D5;
}

.display-4 {
    font-family: 'Roboto Mono', monospace;
    font-size: 70px;

    font-weight: 600;
}

header h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 70px;

    font-weight: 600;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;

    font-weight: 600;
}

/* 
p {
    font-family: 'Inter Tight', sans-serif;
} */

.jumbotron {
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    background-color: #FDF0D5;
}

#dropdown {
    background-color: #FDF0D5;
    padding: 0%;
    margin: 0%;
}

#dropdownMenuLink {
    background-color: #FDF0D5;
    font-family: 'Roboto Mono', monospace;
}

.dropdown-item {
    background-color: #FDF0D5;
    font-family: 'Roboto Mono', monospace;
}

dropdown-menu.show {
    background-color: #FDF0D5;
}